.bg-content-friend {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(166, 239, 253, 1) 0%,
        rgba(97, 186, 255, 1) 90.1%
    );
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
@keyframes fadeOut {
    from {
        width: 50%;
        height: 50%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
line {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100%;
    }
    to {
        stroke-dashoffset: 0%;
    }
}
