@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lcn-blue-1: #f3f9ff;
    --lcn-blue-2: #def0ff;
    --lcn-blue-3: #c6e4ff;
    --lcn-blue-4: #47a9ff;
    --lcn-blue-5: #004078;
    --cn-green-1: #66da53;
}

html {
    scroll-behavior: smooth;
}

input {
    color: black;
}
select {
    color: black;
}

// nav active
.active .nav-active {
    border-color: var(--lcn-blue-4);
}

.active .setting-active {
    border-bottom: 1px solid var(--lcn-blue-4);
}
.hover-white:hover .hover-text-white {
    color: white;
}
.tippy-box[data-theme~='blue'] {
    background-color: var(--lcn-blue-4);
    color: white;
}
.tippy-tooltip.tomato-theme[data-placement^='top'] .tippy-arrow {
    border-top-color: tomato;
}
.tippy-tooltip.tomato-theme[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: tomato;
}
.tippy-tooltip.tomato-theme[data-placement^='left'] .tippy-arrow {
    border-left-color: tomato;
}
.tippy-tooltip.tomato-theme[data-placement^='right'] .tippy-arrow {
    border-right-color: tomato;
}
div:has(div.active-forward) {
    transform: none !important;
    position: none !important;
}

// animation

.ease-right-to-left {
    animation-name: rightToLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes rightToLeft {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 300px;
        opacity: 1;
    }
}
.ease-left-to-right {
    animation-name: LeftToRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes LeftToRight {
    from {
        width: 300px;
        opacity: 1;
    }

    to {
        width: 0;
        opacity: 0;
    }
}

.ani-show {
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
::-webkit-scrollbar {
    display: none;
}
details summary::-webkit-details-marker {
    display: none;
}

#toggle:checked ~ .dot {
    transform: translateX(100%);
}
#toggle:checked ~ .bg-toggle {
    background-color: var(--lcn-blue-4);
}
